/* Paleta de cores */
/* https://coolors.co/343434-2f3061-0e34a0-5f5980-dfdfdf */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #DFDFDF;
}

h1, h2 {
  color: #0E34A0;
}

p, ul, a {
  color: #2F3061;
}

img {
  border-radius: 100%;
  width: 200px;
}

h1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 25px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.outras-titulo {
  font-size: 17px
}

.outras {
  font-size: 12px;
}