/* Paleta de cores */
/* https://coolors.co/343434-2f3061-0e34a0-5f5980-dfdfdf */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #DFDFDF;
  padding: 15px 30px;
}

h1, h2 {
  color: #0E34A0;
}

p, ul, a {
  color: #2F3061;
}

img {
  border-radius: 100%;
  height: 200px;
  float: left;
  padding: 10px;
  background-color: #0E34A0
}

h1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 25px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

#outras-habilidades {
  font-size: 17px
}

.outras {
  font-size: 12px;
}

#indice {
    margin: 25px 0;
}

#indice li {
  text-decoration: underline;
}

#nome {
  text-align: center;
  padding: 0 0 1%
}

#image-container {
  height: 220px;
  overflow: hidden;
}

#apresentacao {
  padding: 1% 5% 0 30px;
  height: 220px;
  overflow-y: auto;
}

.linguagens li:nth-child(2n+1), .idiomas li:nth-child(2n+1), .outras li:nth-child(2n+1) {
  color: #DFDFDF;
  background-color: #2F3061;
}

/* div {
  border: 1px solid black;
} */